.customer-card{
    cursor: pointer;
    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}
.customer-login-container{
    height: 90vh;
}
.customer-cards-container{
    height: 60vh;
}
.error-message{
    font-size: 10px;
}
.customer-cursor{
    cursor: pointer;
}
.spinner-border{
    width: 20px !important;
    height: 20px !important;
}
.rewards-circle{
    width: 50px;
    height: 50px;
}
.back-button{
    &:hover{
        text-decoration: underline;
        background-color: transparent;}
}